<p>Checkout</p>
<table>
  <thead>
    <tr>
      <td>Tea</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tea in state.cart">

      <td><img ng-src='{{tea.imageUrl}}'></td>

      <td>
        Name: {{tea.name}}
        <br/>
        Unit Price: {{tea.price | currency}}
        <br/>
        Qty: {{tea.qty}}
        <br/>
        Subtotal: {{tea.price * tea.qty | currency}}
        <br />
        ID: {{tea.teaId}}
        <br/>
        Caffeine Scale: {{tea.caffeineScale}}
        <br/>
        Ingredients: {{tea.ingredients}}
        <br/>
        Rating: {{tea.rating}}
      </td>

      <td>
        <button ng-click='removeTea(tea.teaId)'>X</button>
      </td>

    </tr>
  </tbody>

</table>

<p>Subtotal: {{state.subtotal | currency}}</p>
