<select ng-model='searchCategory'>

  <option value='price' >Price</option>
  <option value='rating' >Rating</option>
  <option value='inStock' >In Stock?</option>

</select>

<table>
  <thead>
    <tr>
      <td>Image</td>
      <td>Data</td>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat='tea in state.teas | orderBy:searchCategory'>

      <td>
        <img ng-src='{{tea.imageUrl}}' >
      </td>

      <td>
        <ul>
          <li>Price: {{tea.price * .01 | currency}}</li>
          <li>Caffeine scale: {{tea.caffeineScale}}</li>
          <li>Ingredients: {{tea.ingredients}}</li>
          <li>Rating: {{tea.rating}}</li>
          <li>
            <ul ng-repeat='category in tea.categories'>
              <li>{{category}}</li>
            </ul>
          </li>
          <li ng-show='{{tea.inStock}}'>Yes</li>
          <li ng-hide='{{tea.inStock}}'>No</li>
        </ul>
      </td>

    </tr>

  </tbody>
</table>
