<label>Search by Category:
<select ng-model='searchCategory' >

  <option value="">All</option>
  <option value='spring' >Spring</option>
  <option value='summer'>Dark</option>
  <option value='winter' >Winter</option>
  <option value='cold' >Cold</option>
  <option value='warm' >Warm</option>
  <option value='hot' >Hot</option>
  <option value='dry' >Dry</option>
  <option value='dark' >Dark</option>
  <option value='lucid' >Lucid</option>
  <option value='awesome' >Awesome</option>

</select>
</label>

<label>Search by Name:
<input type="text" ng-model="searchName">
</label>

<button id='checkout' ng-click='goToCheckout()'>Checkout | Bag:{{rootState.cart.length}}</button>

<table>
  <thead>
    <tr>
      <td>Image</td>
      <td>Data</td>
      <td>Order by Price:
        <select ng-model='priceSort' ng-init='priceSort = "price"'>
          <option value='price'>Lowest</option>
          <option value='-price'>Highest</option>
        </select>
      </td>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat='tea in state.teas | filter:searchCategory | filter:searchName | orderBy:priceSort'>

      <td>
        <img ng-src='{{tea.imageUrl}}' >
      </td>

      <td>
        <h3>{{tea.name}}</h3>
        <ul>
          <li>Price: {{tea.price * .01 | currency}}</li>
          <li>Caffeine scale: {{tea.caffeineScale}}</li>
          <li>Ingredients: {{tea.ingredients}}</li>
          <li>Rating: {{tea.rating}}</li>
          <li>
            <ul ng-repeat='category in tea.categories'>
              <li>{{category}}</li>
            </ul>
          </li>
          <li ng-show='{{tea.inStock}}'>Yes</li>
          <li ng-hide='{{tea.inStock}}'>No</li>
        </ul>
      </td>
      
      <td>

        <select ng-model="quantity" ng-init='quantity="1"'>
          <option value='1'>1</option>
          <option ng-repeat='qty in [2,3,4,5,6,7,8,9]'>{{qty}}</option>
          <option value='>9' >>9</option>
        </select>

        <button ng-hide='quantity == ">9"' ng-click='addTeaToCart()'>Add To Bag</button>
        <p ng-show='quantity == ">9"'><a href='/contact'>Contact Us</a> for Bulk Orders</p>

      </td>

    </tr>

  </tbody>
</table>
